body{
    /* border: 2px solid red; */
    box-sizing: border-box;
    background-color: #bf71d39c;
    width: 100%;
    height: 100%;
    margin: auto ;
}

#aside-container {
    /* border: 2px solid orange ; */
    background-color: #9ba4f075;
    box-sizing: border-box;
    width: 10%;
    height: 100%;
    margin: auto;
    margin-left: 0;
    text-align: center;
}

#sidebar {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.projects {
    text-align: center;
    margin-top: 10px;
    height: 150px;
    border: 2px solid white;
}

.projects:hover {
    background-color:#9ba4f0ee;
}

.material-symbols-outlined {
    color: black;
}

#img-container {
    /* border: 2px solid yellow; */
    box-sizing: border-box;
    width: 350px;
    height: 400px;
    margin-top: 30%;
    margin-right: 30%;

}

#page-container {
    display: flex;
    /* border: 5px dotted purple; */
    box-sizing: border-box;
    height: 98vh;
    width: 99%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.637);
    box-shadow: 2px 2px 2px 2px;
}

main{
    /* border: 2px solid salmon; */
    display: flex;
    justify-content: space-around;
    margin-right: 15%;
}

#p-container {    
    text-align: center;
    color: white;
    width: 500px;
    height: 400px;
    margin:auto;
    font-size: x-large;
    text-shadow: 2px 2px 4px #000000;

}

.emphasis {
    color: aquamarine;
    font-size: larger;
}

#selfie{
    border: 2px solid #8137729c;
    background-color:#8137729c ;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-left: 20px;
    border-radius: 50%;

}

.social {
    margin: auto;
    /* border: 2px solid yellow; */
}