body{
    /* border: 2px solid red; */
    box-sizing: border-box;
    background-color: #8137729c;
    width: 100%;
    height: 100%;
    margin: auto ;
}

#aside-container {
    /* border: 2px solid orange ; */
    background-color: #9bf0f0e0;
    box-sizing: border-box;
    width: 10%;
    height: 98%;
    margin: auto;
    text-align: center;
    position: absolute;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#sidebar-icons {
    display: flex;
    flex-direction: column;
}

.material-symbols-outlined {
    color: black;
}

#img-container {
    /* border: 2px solid yellow; */
    box-sizing: border-box;
    width: 300px;
    height: 500px;
    margin-top: 15%;
    margin-right: 7%;

}

#page-container {
    display: flex;
    /* border: 5px dotted purple; */
    box-sizing: border-box;
    height: 98vh;
    width: 99%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    border-radius: 20px;

}

main{
    /* border: 2px solid salmon; */
    display: flex;
    justify-content: space-around;
    margin-left: 60%;
}

p{  
    /* border: 2px solid yellow; */
    text-align: center;
    color: white;
    width: 200px;
    height: 500px;
    margin:auto;
    font-size: x-large;
}

#selfie{
    border: 2px solid #8137729c;
    background-color:#8137729c ;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-left: 20px;
    border-radius: 50%;

}